@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

/* Estilos Globais */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Navbar */
.menu-mobile {
  display: none;
}

.navbar {
  background: #fccc2e;
  color: #000;
  padding: 1em 0;
  font-weight: bold;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.navbar .nav-links li {
  margin: 0 1em;
}

.navbar .nav-links a {
  color: #000;
  text-decoration: none;
}

.menu-icon {
  display: block;
  width: 30px;
  height: 20px;
  position: relative;
}

.menu-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #333;
  border-radius: 9px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-icon span:nth-child(1) {
  top: 0;
}

.menu-icon span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.menu-icon span:nth-child(3) {
  bottom: 0;
}

.menu-icon.open span:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

.menu-icon.open span:nth-child(2) {
  opacity: 0;
}

.menu-icon.open span:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

.banner {
  position: relative;
  background: url('img/img4.jpeg') no-repeat center center/cover;
  color: #fff;
  text-align: center;
  padding: 5em 0;
  height: 30em;
}

.banner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  /* Sobreposição de cor preta com 50% de transparência */
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .container {
  position: relative;
  z-index: 2;
}

.banner h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.banner p {
  font-size: 1.2em;
}

/* Seções */
section {
  padding: 4em 0;
  text-align: center;
}

section h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

/* Sobre Nós */
.sobre {
  background-color: #202020;
  padding: 4em 0;
  text-align: center;
}

.sobre h2 {
  font-size: 2.5em;
  margin-bottom: 1em;
  color: #fff;
  position: relative;
}

.sobre-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2em;
}

.sobre-text {
  flex: 1;
  padding: 1em;
  min-width: 300px;
  text-align: left;
}

.sobre-text p {
  margin-bottom: 1em;
  line-height: 1.6;
  color: #fff;
  font-size: 1.1em;
}

.sobre-image {
  flex: 1;
  min-width: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.sobre-image .image-overlay {
  position: relative;
}

.sobre-image img {
  width: 100%;
  height: auto;
  display: block;
}

.sobre-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  /* Cor preta com 50% de transparência */
  border-radius: 10px;
}

.atendimento {
  background-color: #fccc2e;
  /* Cor de fundo azul vibrante */
  color: #000;
  padding: 4em 0;
  text-align: center;
}

.atendimento h2 {
  font-size: 2.5em;
  margin-bottom: 1em;
}

.atendimento-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.icon {
  font-size: 4em;
  border: 2px solid #000;
  /* Borda branca ao redor do ícone */
  border-radius: 400px;
  /* Borda arredondada */
  padding: 20px 40px;
  /* Espaçamento interno */
}

.icon i {
  font-size: inherit;
}

.info {
  text-align: left;
}

.info h3 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.info p {
  font-size: 1.2em;
  line-height: 1.6;
}

.servicos {
  padding: 4em 0;
  background-color: #f9f9f9;
  text-align: center;
}

.servicos h2 {
  font-size: 2.5em;
  margin-bottom: 1em;
  color: #333;
}

.servicos-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2em;
}

/* Nossos Serviços */
.servicos {
  padding: 4em 0;
  background-color: #f9f9f9;
  text-align: center;
}

.servicos h2 {
  font-size: 2.5em;
  margin-bottom: 1em;
  color: #333;
}

.servicos-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2em;
}

.servico {
  flex: 1;
  max-width: 30%;
  text-align: center;
}

.servico-item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.servico-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.servico-item img {
  width: 100%;
  height: auto;
  /* Ajusta automaticamente a altura */
  aspect-ratio: 1;
  /* Mantém a proporção 1:1 para garantir que a imagem seja quadrada */
  object-fit: cover;
  /* Garante que a imagem cubra todo o contêiner sem distorção */
  border-radius: 10px 10px 0 0;
}

.servico-item h3 {
  font-size: 1.5em;
  margin: 1em 0 0.5em;
  color: #000;
}

.servico-item p {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 1em;
  padding: 0 1em;
}

/* Galeria de Fotos */
.gallery {
  padding: 2em 0;
  text-align: center;
}

.gallery h2 {
  font-size: 2.5em;
  margin-bottom: 1em;
  color: #333;
}

.gallery-images {
  display: flex;
  justify-content: space-between;
}

.gallery-column {
  flex: 1;
}

.gallery-item {
  margin-bottom: 1em;
  width: 100%;
  padding-top: 100%;
  /* Define altura igual à largura para criar quadrado */
  position: relative;
  overflow: hidden;
}

.gallery-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  object-fit: cover;
  /* Mantém a proporção e corta a imagem para preencher o quadrado */
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.gallery-item img:hover {
  transform: scale(1.05);
}

/* Rodapé */
.rodape {
  background-color: #202020;
  color: #fff;
  padding: 2em 0;
}

.rodape-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
}

.rodape-logo h1 {
  font-size: 28px;
}

.rodape-mapa iframe {
  border: 0;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  height: 200px;
}

.rodape-redes-sociais {
  display: flex;
  gap: 1em;
}

.social-icon {
  color: #fff;
  font-size: 1.5em;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #007bff;
}

/* Responsividade */
@media (max-width: 768px) {
  .clebson {
    display: none;
  }

  .desktop {
    display: none;
  }

  .sobre-content {
    flex-direction: column;
    align-items: center;
  }

  .sobre-text,
  .sobre-image {
    text-align: center;
    padding: 0;
  }

  .menu-mobile {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .menu-mobile a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 400;
  }

  .sobre-text {
    margin-bottom: 2em;
  }

  .navbar .nav-links {
    flex-direction: column;
    display: none;
    width: 100%;
  }

  .navbar .nav-links.show {
    display: flex;
  }

  .navbar .nav-links li {
    margin: 0.5em 0;
  }

  .menu-toggle {
    display: block;
  }

  .sobre-content {
    flex-direction: column;
  }

  .sobre-text,
  .sobre-image {
    text-align: center;
  }

  .servicos-content {
    flex-direction: column;
    align-items: center;
  }

  .servico {
    max-width: 80%;
    margin-bottom: 2em;
  }

  .rodape-content {
    flex-direction: column;
    text-align: center;
  }

  .rodape-logo,
  .rodape-mapa,
  .rodape-redes-sociais {
    margin-bottom: 1em;
  }

  .rodape-mapa iframe {
    max-width: 100%;
    height: 200px;
  }
}
